body{
    background: linear-gradient(to right, #3494e6, #ec6ead); 
    color: white;
}
.img {

    width: 150px;
    height: 100px;
    margin: 0;
}

.logo {
    width: 40px;
    height: 40px;
    float: right;
}

.header-container {
    display: flex;

}

.header-container>input {
    border: 1px solid grey;
    margin-left: 50px;
}

.header-right p {
    margin: 5px 5px;
}

.header-right img {
    margin: 5px 5px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;

}
.header-right h3{

    margin: 5px 5px;

}

.list {
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.list img {
    width: 250px;
    border-radius: 5px;

}
.toppanel{
    border: 1px solid green;

}
.main-container{
    border: 1px solid blue;
    display: flex;
}
.leftpanel{
    border : 5px solid pink;
    text-align: center;
    width: 150px;
    
}
/*.list-container{
    border : 5px solid  orange;

}*/
.select-container{
    width: 150px;
    margin: 7px 7px;
    background-color: transparent;
    border: 1px solid white;
    border-radius : 10px;
    padding: 10px 10px;
    color: white;
    

}
.select-container option{
    background-color: rgb(188, 188, 247); 
    opacity: 1;
     padding: 5px 5px;
}

.favourite{

    background: transparent;
    border: 1px solid white;
    padding : 7px 7px;
    border-radius: 5px;
    color: white;

}
.links{
    
   
    color: white;
    text-decoration: none;

}
